@rendermode InteractiveServer

<MudDialog>
    <DialogContent>
        <div>

        </div>
        <div>

        </div>
    </DialogContent>
    <DialogActions>

    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string SimpleMessage { get; set; } = string.Empty;
    [Parameter]
    public string DetailsMessage { get; set; } = string.Empty;
}
